body {
  font-family: 'Roboto', sans-serif;
  background-color: $bgColor;
  margin: 0;
  cursor: url('/src/images/cursor.cur'), auto;
}

// :hover {
//   cursor: url('/src/images/cursor_pointer.png'), auto;
// }

.link {
  text-decoration: none;
  &:hover{
    cursor: url('/src/images/cursor_pointer.png'), auto;
  }
}

button:hover {
  cursor: url('/src/images/cursor_pointer.png'), auto;
}

svg:hover {
  cursor: url('/src/images/cursor_pointer.png'), auto;
}

a:hover {
  cursor: url('/src/images/cursor_pointer.png'), auto;
}


.list {
  list-style-type: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}
