body {
  font: 12px/1.62 'Montserrat', Arial, Helvetica, sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

