body {
  font-family: 'Roboto', sans-serif;
  background-color: $bgColor;
  margin: 0;
  cursor: url('/src/images/cursor.cur'), auto;
}

.link {
  text-decoration: none;
}

a,
button {
  &:hover {
    cursor: url('/src/images/cursor-pointer.cur'), auto;
  }
}
.list {
  list-style-type: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: none;
}

.no-scroll {
  overflow: hidden;
}
