body {
  font-family: 'Roboto', sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}
