$whiteColor: #ffffff;
$blackColor: #000000;
$accentColor: #b92f2c;
$greyColor: #f7f7f7;
$bgColor: #f0f0f0;
$darkGrey: #333333;
$medium-font-weight: 500;
$common-line-height: 1.33; //16px/12px
$common-font-size: 12px;
