.signIn {
  &-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 280px;
    background-color: $whiteColor;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 20px;
    @include mobile {
      width: 420px;
      // height: 450px;
      padding: 32px;
    }
    @include tablet {
      width: 500px;
      height: 500px;
    }
  }
  label {
    font-weight: bold;
    margin: 5px 0;
    color: $accentColor;
    opacity: 0.7;
  }
  button {
    padding: 15px 35px;
    border: none;
    border-radius: 10px;
    color: $whiteColor;
    max-width: 150px;
    margin: 20px auto 10px;
    background-color: $accentColor;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: darken($accentColor, 10%);
    }
  }
  &-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 40px;
    transition: outline-color 0.3s ease-in-out;
    &:focus {
      outline-color: $accentColor;
    }
  }
  .modal-SignIn-close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 10px;
    stroke: $accentColor;
    stroke-width: 4;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 0;
    background-color: $whiteColor;
    transition: background-color 0.3s ease-in-out;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &-icon {
      stroke: $accentColor;
    }
    &:hover {
      background-color: transparent;
    }
  }
  .signUp-box {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    button {
      background-color: transparent;
      color: $accentColor;
      padding: 0;
      margin: 0;
      margin-left: 10px;
    }
  }
  .signIn-form-wrapper {
    position: relative;
  }
  .signIn-form-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    display: inline-block;
    fill: $accentColor;
  }
  h2 {
    margin-bottom: 20px;
    color: $accentColor;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
  }

  .google-button {
    display: inline-block;
    background-color: transparent;
    color: $blackColor;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border: 3px solid $accentColor;
    border-radius: 10px;
    margin: 15px auto 0;
    display: flex;
    padding: 15px 35px;
    max-width: 300px;
    transition: border-color 0.3s, background-color 0.3s;
    &:hover {
      border-color: darken($accentColor, 10%);
      background-color: transparent;
    }
    .google-icon {
      margin-top: 10px;
      margin-right: 5px;
      @include mobile {
        margin-top: 0px;
        margin-right: 10px;
      }
    }
  }
}
