<div class="signIn backdrop is-hidden">
  <div class="signIn-modal" data-toggle="modal">
    <button type="button" class="modal-SignIn-close" name="signIn">
      <svg class="modal-close-icon" width="20" height="20">
        <use href="/src/images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="signIn-container">
      <form class="signIn-form sign-in">
        <h2>Authorization</h2>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
        <button type="submit">Sign In</button>
      </form>
      <button class="google-button">Sign in with Google</button>
      <div class="signUp-box">
        <p>No account?</p>
        <button type="button" class="signUp-open">Sign Up</button>
      </div>
    </div>
  </div>
</div>
