<section class="gallery container">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="gallery-filter">
    <ul class="filter is-hidden list">
      <li class="filter-boxes">
        <div class="filter-genres">
          <select class="filter-by-genres">
            <option class="filter-item-genre" value selected>
              Filter by Genre:
            </option>
            <option class="filter-item-genre" value="28">Action</option>
            <option class="filter-item-genre" value="12">Adventure</option>
            <option class="filter-item-genre" value="16">Animation</option>
            <option class="filter-item-genre" value="35">Comedy</option>
            <option class="filter-item-genre" value="80">Crime</option>
            <option class="filter-item-genre" value="99">Documentary</option>
            <option class="filter-item-genre" value="18">Drama</option>
            <option class="filter-item-genre" value="10751">Family</option>
            <option class="filter-item-genre" value="14">Fantasy</option>
            <option class="filter-item-genre" value="36">History</option>
            <option class="filter-item-genre" value="27">Horror</option>
            <option class="filter-item-genre" value="10402">Music</option>
            <option class="filter-item-genre" value="9648">Mystery</option>
            <option class="filter-item-genre" value="10749">Romance</option>
            <option class="filter-item-genre" value="878">
              Science Fiction
            </option>
            <option class="filter-item-genre" value="10770">TV Movie</option>
            <option class="filter-item-genre" value="53">Thriller</option>
            <option class="filter-item-genre" value="10752">War</option>
            <option class="filter-item-genre" value="37">Western</option>
          </select>
        </div>
      </li>
      <li class="filter-boxes">
        <div class="filter-languages">
          <select class="filter-by-lang">
            <option class="filter-item" value selected>
              Filter by Original Language:
            </option>
            <option class="filter-item" value="en">English</option>
            <option class="filter-item" value="uk">Українська</option>
            <option class="filter-item" value="de">Deutsch</option>
            <option class="filter-item" value="it">Italiano</option>
            <option class="filter-item" value="fr">Français</option>
            <option class="filter-item" value="pl">Polski</option>
            <option class="filter-item" value="es">Español</option>
          </select>
        </div>
      </li>
      <li class="filter-boxes">
        <button class="filter-close">
          <svg class="filter-close-icon" width="30" height="30">
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
  <div class="gallery-holder">
    <ul class="gallery-list list"></ul>
    <div class="div"></div>
  </div>
</section>
