<header class="header">
  <div class="container">
    <div class="header__holder">
      <div class="user-bar">
        <svg class="user-bar__icon">
          <use href="/src/images/icons.svg#icon-user"></use>
        </svg>
        <button
          class="nav-list__button js-signIn"
          data-target="signIn"
          type="button"
        >
          SIGN IN
        </button>
        <button
          class="nav-list__button nav-list__button--exit"
          data-target="logout"
        >
          <svg class="user-bar__exit">
            <use href="/src/images/icons.svg#icon-exit"></use>
          </svg>
        </button>
      </div>
      <ul class="nav-list list js-btn-list">
        <li class="nav-list__item">
          <button
            class="nav-list__button nav-list__button--active js-home"
            data-target="home"
            type="button"
          >
            HOME
          </button>
        </li>
        <li class="nav-list__item">
          <button
            class="nav-list__button js-library"
            data-target="library"
            type="button"
          >
            MY LIBRARY
          </button>
        </li>
      </ul>
      <form class="search-form search" id="search-form">
        <div class="search__field">
          <input
            class="search__input"
            type="text"
            name="searchQuery"
            autocomplete="off"
            placeholder="Movie Search"
          />
          <button type="submit" class="search__btn">
            <span class="visually-hidden">Search</span>
            <svg class="search__svg">
              <use
                class="serch__icon"
                href="/src/images/icons.svg#icon-search"
              ></use>
            </svg>
          </button>
        </div>
      </form>
      <div class="header__headline">
        <a href="#home" class="header__link">
          <svg class="logo">
            <use href="/src/images/icons.svg#icon-logo"></use>
          </svg>
          <h1 class="header__title">Filmoteka</h1>
        </a>
        <div class="theme">
          <button type="button" class="filter__btn">
            <span class="visually-hidden">Filter</span>
            <svg class="filter__svg" width="40" height="40">
              <use
                class="filter__icon"
                href="/src/images/icons.svg#icon-filter"
              ></use>
            </svg>
          </button>
          <div class="languages">
            <button class="lang-btn change-lang" id="en" data-lang="uk">
              <span class="visually-hidden">Ukrainian lang</span>
              <svg class="lang-svg" width="40" height="40">
                <use
                  class="ua__icon"
                  href="/src/images/icons.svg#icon-ua"
                ></use>
              </svg>
            </button>
            <button class="lang-btn change-lang" id="uk" data-lang="en">
              <span class="visually-hidden">English lang</span>
              <svg class="lang-svg" width="40" height="40">
                <use
                  class="uk__icon"
                  href="/src/images/icons.svg#icon-uk"
                ></use>
              </svg>
            </button>
          </div>
          <button class="theme__button change-theme" data-theme="light">
            <span class="visually-hidden">Light theme</span>
            <svg class="theme__svg">
              <use
                class="theme__icon"
                href="/src/images/icons.svg#icon-sun"
              ></use>
            </svg>
          </button>
          <button class="theme__button change-theme" data-theme="dark">
            <span class="visually-hidden">Dark theme</span>
            <svg class="theme__svg">
              <use
                class="theme__icon"
                href="/src/images/icons.svg#icon-moon"
              ></use>
            </svg>
          </button>
        </div>
      </div>
      <ul class="nav-list list library js-btn-list">
        <li class="nav-list__item">
          <button
            class="nav-list__button nav-list__button--active button-watched"
            data-target="watched"
            type="button"
          >
            WATCHED
          </button>
        </li>
        <li class="nav-list__item">
          <button
            class="nav-list__button button-queue"
            data-target="queue"
            type="button"
          >
            QUEUE
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>
