<header class="header">
  <div class="container">
    <div class="header__holder">
      <div class="user-bar">
        <button
          class="nav-list__button js-signIn"
          data-target="signIn"
          type="button"
        >
          SIGN IN
        </button>
      </div>
      <ul class="nav-list list js-btn-list">
        <li class="nav-list__item">
          <button
            class="nav-list__button nav-list__button--active"
            data-target="home"
            type="button"
          >
            HOME
          </button>
        </li>
        <li class="nav-list__item">
          <button class="nav-list__button" data-target="library" type="button">
            MY LIBRARY
          </button>
        </li>
      </ul>
      <form class="search-form search" id="search-form">
        <div class="search__field">
          <input
            class="search__input"
            type="text"
            name="searchQuery"
            autocomplete="off"
            placeholder="Movie Search"
          />
          <button type="submit" class="search__btn">
            <svg class="search__svg">
              <use
                class="serch__icon"
                href="/src/images/icons.svg#icon-search"
              ></use>
            </svg>
          </button>
        </div>
      </form>
      <div class="header__headline">
        <svg class="logo">
          <use href="/src/images/icons.svg#icon-logo"></use>
        </svg>
        <h1 class="header__title">Filmoteka</h1>
        <div class="theme">
          <button class="theme__button change-theme" data-theme="light">
            <svg class="theme__svg">
              <use
                class="theme__icon"
                href="/src/images/icons.svg#icon-sun"
              ></use>
            </svg>
          </button>
          <button class="theme__button change-theme" data-theme="dark">
            <svg class="theme__svg">
              <use
                class="theme__icon"
                href="/src/images/icons.svg#icon-moon"
              ></use>
            </svg>
          </button>
        </div>
      </div>
      <ul class="nav-list list library js-btn-list">
        <li class="nav-list__item">
          <button
            class="nav-list__button nav-list__button--active"
            data-target="watched"
            type="button"
          >
            WATCHED
          </button>
        </li>
        <li class="nav-list__item">
          <button class="nav-list__button" data-target="queue" type="button">
            QUEUE
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>
