<!-- Модальне вікно -->
<div class="team-backdrop is-hidden" data-team-modal>
    <div class="team-modal">
      <button class="modal-close" data-team-modal-close>
        <svg class="modal-close-icon" width="30" height="30">
          <use href="/src/images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <p class="teammate__header">Our Team</p>
      <ul class="teammate__list">
        <li class="teammate__item">
          <div class="teammate__img">
            <img src="./images/team-img/kaVasiuk.jpg" alt="Kateryna Vasiuk">
          </div>
          <p class="teammate__name">Kateryna Vasiuk</p>
          <p class="teammate__role">Team Lead</p>
          <a class="teammate__link" href="https://github.com/KHARKIVSKA-KURKUMA" target="_blank">
            <svg class="teammate__icon" width="30" height="30">
          <use href="/src/images/icons.svg#icon-github"></use>
        </svg>
      </a>
        </li>
        <li class="teammate__item">
          <div class="teammate__img">
            <img src="./images/team-img/vitStep.png" alt="Vitalii Stepanenko">
          </div>
          <p class="teammate__name">Vitalii Stepanenko</p>
          <p class="teammate__role">Scrum Master</p>
          <a class="teammate__link" href="https://github.com/Viking3045" target="_blank">
            <svg class="teammate__icon" width="30" height="30">
          <use href="/src/images/icons.svg#icon-github"></use>
        </svg>
      </a>
        </li>
        <li class="teammate__item">
          <div class="teammate__img">
            <img src="./images/team-img/andPank.png" alt="Andrii Pankiv">
          </div>
          <p class="teammate__name">Andrii Pankiv</p>
          <p class="teammate__role">Developer</p>
          <a class="teammate__link" href="https://github.com/PankivA" target="_blank">
            <svg class="teammate__icon" width="30" height="30">
          <use href="/src/images/icons.svg#icon-github"></use>
        </svg>
      </a>
        </li>
        <li class="teammate__item">
          <div class="teammate__img">
            <img src="./images/team-img/alBodnar.png" alt="Alina Bodnar">
          </div>
          <p class="teammate__name">Alina Bodnar</p>
          <p class="teammate__role">Developer</p>
          <a class="teammate__link" href="https://github.com/alinabodnar1" target="_blank">
            <svg class="teammate__icon" width="30" height="30">
          <use href="/src/images/icons.svg#icon-github"></use>
        </svg>
      </a>
        </li>
        <li class="teammate__item">
          <div class="teammate__img">
            <img src="./images/team-img/svPanenko.png" alt="Svetlana Panenko">
          </div>
          <p class="teammate__name">Svetlana Panenko</p>
          <p class="teammate__role">Developer</p>
          <a class="teammate__link" href="https://github.com/svetapan" target="_blank">
            <svg class="teammate__icon" width="30" height="30">
          <use href="/src/images/icons.svg#icon-github"></use>
        </svg>
      </a>
        </li>
        <li class="teammate__item">
          <div class="teammate__img">
            <img src="./images/team-img/natOsadcha.jpg" alt="Nataliia Osadcha">
          </div>
          <p class="teammate__name">Nataliia Osadcha</p>
          <p class="teammate__role">Developer</p>
          <a class="teammate__link" href="https://github.com/NatalyOsadcha" target="_blank">
            <svg class="teammate__icon" width="30" height="30">
          <use href="/src/images/icons.svg#icon-github"></use>
        </svg>
      </a>
        </li>
        <li class="teammate__item">
          <div class="teammate__img">
            <img src="./images/team-img/olShakun.png" alt="Olena Shakun">
          </div>
          <p class="teammate__name">Olena Shakun</p>
          <p class="teammate__role">Developer</p>
          <a class="teammate__link" href="https://github.com/OlenaMrn" target="_blank">
            <svg class="teammate__icon" width="30" height="30">
          <use href="/src/images/icons.svg#icon-github"></use>
        </svg>
      </a>
        </li>
        <li class="teammate__item">
          <div class="teammate__img">
            <img src="./images/team-img/voRomanov.png" alt="Vova Romanov">
          </div>
          <p class="teammate__name">Vova Romanov</p>
          <p class="teammate__role">Developer</p>
          <a class="teammate__link" href="https://github.com/DraRoVol" target="_blank">
            <svg class="teammate__icon" width="30" height="30">
          <use href="/src/images/icons.svg#icon-github"></use>
        </svg>
      </a>
        </li>
        <li class="teammate__item">
          <div class="teammate__img">
            <img src="./images/team-img/serhiiKas.png" alt="Serhii Kasianchuk">
          </div>
          <p class="teammate__name">Serhii Kasianchuk</p>
          <p class="teammate__role">Developer</p>
          <a class="teammate__link" href="https://github.com/kasyan4uk" target="_blank">
            <svg class="teammate__icon" width="30" height="30">
          <use href="/src/images/icons.svg#icon-github"></use>
        </svg>
      </a>
        </li>
        <li class="teammate__item">
          <div class="teammate__img">
            <img src="./images/team-img/andSerdiuk.png" alt="Andrii Serdiuk">
          </div>
          <p class="teammate__name">Andrii Serdiuk</p>
          <p class="teammate__role">Developer</p>
          <a class="teammate__link" href="https://github.com/AndryMEC" target="_blank">
            <svg class="teammate__icon" width="30" height="30">
          <use href="/src/images/icons.svg#icon-github"></use>
        </svg>
      </a>
        </li>
      </ul>
    </div>
  </div>