.dark-theme {
    background: #333;
    
    .js-signIn {
        background: #8c8c8c;
        color: #000;
    
        &:disabled {
            color: #000;
        }
    }

    .user-bar__icon {
        fill: #000000;
    }
    
    .library {
        --default-bg: #000;
        --default-color: #fff;
        --active-bg: #B92F2C;
        --active-color: #fff;
    }
    
    .header__title {
        color:#ffffff;
    }
    
    .logo {
        stroke:#ffffff;
    }
    
    .search__input {
        background: #000000;
    }
    
    .search__svg {
        stroke: #ffffff;
        background: #000000;
    }
    
    .signIn-modal {
        background: #333;
    }
    
    .signIn-form label {
        opacity: 1;
    }
    
    .js-signIn {
        color: #333;
    }
    
    .signIn-form input {
        background:#333;
        border: 1px solid #ffffff;
        color: #ffffff;
    }
    
    .signIn .modal-SignIn-close {
        background:#333;
    }

    .signIn .google-button {
        color: #fff;
    }
    
    .signUp-box p {
        color: #ffffff;
    }
    
    .modal-close-icon {
        background: #333;
    }
    
    .movie-info .filmcard-name {
        color: #ffffff;
    }
    
    .modal {
        background: #333;
    
        .modal-close {
            background: #333;
    
        }
    
        .modal-close-icon {
            stroke: #ffffff;
        }
    }
    
    .params__title {
        color: #ffffff;
    }
    
    .params__value {
        color: #ffffff;
    }
    
    .about {
        color: #ffffff;
    }
    
    .footer {
        background: #000;
    
        &__text {
            color: #ffffff;
        }
    }
    
    .change-theme[data-theme="dark"] {
        display: none;
    }
    
    .change-theme[data-theme="light"] {
        display: block;
    }
    
    .theme {
        fill: #fff;
    }
}

