.footer {
  padding: 29px 0;
  background-color: $greyColor;
  &__text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 14px;
    line-height: 114%;
    text-align: center;
    color: rgba(84, 84, 84, 1);
    @include tablet {
      flex-direction: row;
      font-size: 16px;
      line-height: 119%;
    }
  }
  &__icon {
    font-size: 18px;
    padding: 0 10px;
    color: $accentColor;
  }
  &__button {
    text-decoration: underline;
    border: none;
    background-color: transparent;
    color: inherit;
    font: inherit;
    padding: 0;
  }
}
