.footer {
  padding: 29px 0;
  background-color: $greyColor;
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

    @include tablet {
      flex-direction: row;
    }
  }
  &__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    text-align: center;
    color: rgba(84, 84, 84, 1);

    @include tablet {
      font-size: 16px;
      line-height: 119%;
    }
  }
  &__icon {
    font-size: 18px;
    padding: 0 10px;
    color: $accentColor;
  }
  &__item {
    text-decoration: underline;
    border: none;
    background-color: transparent;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
  }
}
