.clear-watched{
    display: flex;
    justify-content: center;
}
.clear-watched-name{
   display: flex;
    justify-content: center;

}
.clear-watched-problems{
display: flex;
    justify-content: center;
}