.header {
    margin: 32px;
    min-height: 460px;
    padding: 14px;
    background-color: $accentColor;
    background-image: url(../images/favicon/hero-background/hero-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    @include tablet {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        min-height: 222px;
        padding: 14px;
        background-image: url(../images/favicon/hero-background/hero-bg-tab.jpg);
    }

    &__headline {
        display: flex;
    }
}

.nav-list {
    display: flex;
    text-align: center;
    gap: 4px;
    margin-bottom: 8px;
    @include tablet {
        margin-bottom: 0;
        order: 2;
    }
    @mixin desktop {
        gap: 8px;
    }
}

.nav-list__button {
    border-radius: 100px;
    padding: 10px 22px;
    min-width: 87px;
    border: none;
}

.nav-list__button--active {
    background: $blackColor;
    color: $whiteColor;
}

.logo {
    width: 27px;
    height: 27px;
    animation: rotate 3s infinite;
    @include tablet {
        width: 40px;
        height: 40px;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.search {
    position: relative;
    max-width: 252px;
    width: 100%;

    @include tablet {
        order: 1;
        margin-right: 4px;
    }
}

.search__input {
    border-radius: 100px;
    padding: 10px 14px;
    width: 100%;
    border: none;
    
}

.search__btn {
    position: absolute;
    top: 50%;
    right: 14px;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);
    @include tablet {
        right: 16px;
    }
}

.search__svg {
    width: 14px;
    height: 14px;
    stroke: #000;
    @include tablet {
        width: 16px;
        height: 16px;
    }
}

.header__headline {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include tablet {
        justify-content: flex-start;
        order: 4;
    }
}

.header__title {
    color: $whiteColor;
    font-size: 32px;
    line-height: 1.2;
    @include tablet {
        font-size: 40px;
        line-height: 1.17;
    }
}

.library {
    width: 100%;
    justify-content: center;
    display: none;
    @include tablet {
        margin-left: auto;
        width: auto;
        order: 3;
        justify-content: start;
    }
}