//Документація  https://github.com/nhn/tui.pagination/blob/production/docs/getting-started.md

#pagination {
  flex-shrink: 0;
  margin-bottom: 40px;
  margin-top: 0;
  @media (min-width: 768px) {
    margin-bottom: 60px;
  }
  .tui-page-btn {
    border: none;
    line-height: 1.2px;
    font-weight: 500;
    color: #000;
    &:hover {
      color: $accentColor;
      background: transparent;
    }
    @media (min-width: 768px) {
      font-size: 14px;
    }
  }

  .tui-is-selected {
    width: 25px;
    height: 25px;
    display: inline-flex;
    background-color: $accentColor;
    color: $whiteColor;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    &:hover {
      color: $whiteColor;
      background-color: $accentColor;
    }
    @media (min-width: 768px) {
      width: 40px;
      height: 40px;
    }
  }
  .tui-ico-first,
  .tui-ico-last {
    margin-top: 8px;
  }
  .tui-ico-first {
    display: none;
    @media (min-width: 768px) {
      margin-right: 10px;
    }
  }
  .tui-ico-last {
    display: none;
    @media (min-width: 768px) {
      margin-left: 10px;
    }
  }
  .tui-prev {
    margin-right: 5px;
    @media (min-width: 768px) {
      margin-right: 10px;
    }
  }
  .tui-next {
    margin-left: 5px;
    @media (min-width: 768px) {
      margin-left: 10px;
    }
  }
  .tui-prev,
  .tui-next {
    width: 25px;
    height: 25px;

    background-color: #f7f7f7;
    border-radius: 5px;
    position: relative;
    // transition: background-color $duration $timing-function;
    &:hover {
      color: white;
      background-color: #d4d4d4;
    }
    @media (min-width: 768px) {
      width: 40px;
      height: 40px;
    }
  }

  .tui-ico-next,
  .tui-ico-prev {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
  }
  .tui-ico-prev {
    background-image: url('../images/arrow-left.png');
  }
  .tui-ico-next {
    background-image: url('../images/arrow-right.png');
  }

  .tui-first,
  .tui-last {
    display: none;
  }
  .tui-ico-ellip {
    font-size: inherit;
    @include tablet {
      background: none;
    }
  }
}
